{% load templatetag_handlebars %}
    {% tplhandlebars "reg_status_card" %}

    <div class="card"  data-name="RegistrationCard" data-type="card">
        <div class="fade-in">
        
            <h3>Registration: {{reg_next_quarter}} {{ reg_next_year }}</h3>
            
            {{ #if hold_count }}
                <div class="card-critical-alert" role="status">
                    
                    <i class="fa fa-exclamation-triangle"><span class="sr-only">You have registration holds!</span></i>
                    <a id="show_reg_holds{{#if card}}_{{card}}{{/if}}" class="reg_disclosure{{#if card}}_{{card}}{{/if}}" aria-controls="reg_holds" href="#" title="Expand to show holds information">Show {{ hold_count }} {{ pluralize hold_count "hold" "holds" }}</a>
                    <a id="hide_reg_holds{{#if card}}_{{card}}{{/if}}" class="reg_disclosure{{#if card}}_{{card}}{{/if}}" style="display: none" aria-controls="reg_holds" href="#" title="Collapse to hide holds information">Hide {{ hold_count }} {{ pluralize hold_count "hold" "holds" }}</a>

                    <div id="reg_holds{{#if card}}_{{card}}{{/if}}" class="slide-hide" aria-hidden="true" style="text-align:left;">
                        <h4 class="sr-only">Registration holds</h4>
                        <div class="reg-holds">

                            <ul class="reg-holds-list">
                                {{ #each reg_holds }}
                                 <li>{{{ notice_content }}}</li>
                                {{ /each }}
                            </ul>

                        </div>
                    </div>

                </div>
            {{ /if }}
            
            <h4 class="sr-only">Registration Information</h4>    
            <div class="est-reg-date">
                <p>
                    {{ #each est_reg_date }}
                        Estimated Registration Date: {{{ toFriendlyDate date }}} <br />
                    {{ /each }}
                </p>
            </div>     
            {{ #if plan_data.courses }}
            In MyPlan   {{ plan_data.ready_count }} {{ pluralize plan_data.ready_count "course" "courses" }} ready<br/>
            {{ plan_data.unready_count }} not ready <a href="javascript:void(0)" id="show_unready_courses{{# if card }}_{{card}}{{/if}}">See details</a>
            <div id="myplan_unready_courses{{# if card }}_{{card}}{{/if}}" class="slide-hide">
            Courses not ready<br/>
            {{ #each plan_data.courses }}
                {{ #unless registrations_available }}
                {{ curriculum_abbr }} {{ course_number }} {{ #unless @last }},{{/unless}}
                {{ /unless }}
            {{ /each}}

            <br />
            One of more of the issues below...
            </div>
            {{ /if }}
            <h4 class="sr-only">Registration Resources</h4>
			<div class="pull-right">
	            <ul class="reg-resources-list">
	                {{ #if is_tacoma }}
	                    <li><a href="http://www.washington.edu/students/timeschd/T/">Browse time schedule</a></li>
	                    <li><a href="http://www.tacoma.washington.edu/enrollment_apps/timeschedule/search.cfm">Tacoma Time Schedule Quick Search</a></li>
	                {{ /if }}
	                {{ #if is_bothell }}
	                    <li><a href="http://www.uwb.edu/registration/time">Browse time schedule</a></li>
	                {{ /if }}
	                {{ #if is_seattle }}
	                    <li><a href="http://www.washington.edu/students/timeschd/">Browse time schedule</a></li>
	                {{ /if }}
	                    <li><a href="http://www.washington.edu/students/timeschd/">Browse time schedule</a></li>
	            </ul>
			</div>			
			
			<!-- CHARLON: not sure why a clearfix wasn't working on the DIV below, but the inline style was... -->                                                                                                
            <div id="reg_resources{{#if card}}_{{card}}{{/if}}" class="slide-hide" style="clear:both;" aria-hidden="true">
                
               <!-- {{ #if reg_notices }}
                <h4 class="">Notices</h4>
                <ul class="reg-notice-list">
                  {{ #each reg_notices }}
                      <li>
                        {{{ notice_content }}}
                      </li>
                  {{ /each }}
                </ul>
                {{/if}} -->
                <!-- data from MyPlan -->
                <div>
                    {{ #if plan_data.has_ready_courses }}
                    <div>
                    Ready for registration
                    <br/>
                    {{ #each plan_data.courses }}
                    {{ #if registrations_available }}
                        {{ curriculum_abbr }} {{ course_number }}
                        <br/>
                        {{ #each sections }}
                        {{ section_id }}
                        {{#each section_data.meetings}}
                            {{#if days_tbd }}
                            Days and times to be arranged<br/>
                            {{else}}
                                {{#if meeting_days.monday}}<abbr title="Monday">M</abbr>{{/if}}{{#if
                                meeting_days.tuesday}}<abbr title="Tuesday">T</abbr>{{/if}}{{#if
                                meeting_days.wednesday}}<abbr title="Wednesday">W</abbr>{{/if}}{{#if
                                meeting_days.thursday}}<abbr title="Thursday">Th</abbr>{{/if}}{{#if
                                meeting_days.friday}}<abbr title="Friday">F</abbr>{{/if}}{{#if
                                meeting_days.saturday}}<abbr title="Saturday">Sa</abbr>{{/if}}{{#if
                                meeting_days.sunday}}<abbr title="Sunday">Su</abbr>{{/if}}
                            {{formatTime start_time}} - {{formatTimeAMPM end_time}}<br />
                            {{/if}}
                        {{/each}}

                        {{ /each }}
                        {{/if}}
                    {{ /each }}
                    </div>
                    {{ /if }}

                    {{ #if plan_data.has_unready_courses }}
                    <div>
                    Not ready for registration
                    <br />
                    {{ #each plan_data.courses }}
                        {{ #unless registrations_available }}
                        {{ curriculum_abbr }} {{ course_number }} <br />
                        {{ /unless }}
                    {{ /each}}
                    </div>
                    {{ /if }}
                </div>

                <h4>Resources</h4>
                {{ #if plan_data.courses }}
                <ul class="reg-resources-list">
                    <li><a href="https://myplan.uw.edu">Edit Plan in MyPlan</a> (Academic Planning)</li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                </ul>

                {{ else }}
                <ul class="reg-resources-list">
					<li><a href="https://sdb.admin.washington.edu/students/uwnetid/register.asp">Registration</a></li>
                    <li><a href="https://myplan.uw.edu">MyPlan</a> (Academic Planning)</li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                </ul>
                {{ /if }}

            </div>
            
            <div class="card-disclosure">
                {{ #if plan_data.courses }}
                <span id="show_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Show {{reg_next_quarter}} {{ reg_next_year }} plan</span>
                <span id="hide_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Hide {{reg_next_quarter}} {{ reg_next_year }} plan</span>
                <a id="show_reg_resources{{# if card }}_{{card}}{{/if}}" aria-controls="reg_resources" href="#" title="Expand to show additional registration resources">Show {{reg_next_quarter}} {{ reg_next_year }} plan</a>
                {{ else }}
                <span id="show_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Show more</span>
                <span id="hide_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Show less</span>
                <a id="show_reg_resources{{# if card }}_{{card}}{{/if}}" aria-controls="reg_resources" href="#" title="Expand to show additional registration resources">Show more</a>
                {{ /if }}
            </div>
        
        </div>
    </div>


    {% endtplhandlebars %}
