{% load templatetag_handlebars %}
    {% tplhandlebars "reg_status_card" %}

    <div class="card"  data-name="RegistrationCard" data-type="card">
        <div class="fade-in">
        
            <h3>Registration: {{reg_next_quarter}} {{ reg_next_year }}</h3>
            <ul title="Registration Information" style="list-style-type: none; padding-left: 0;">
	            {{ #if hold_count }}
				<li>
		            <div class="card-critical-alert" role="status">
			            <span>Holds</span>
						<div class="pull-right">                    
		                    <i class="fa fa-exclamation-triangle holds_icon" aria-hidden="true"></i><span class="sr-only">You have registration holds!</span>
                            <span id="show_reg_holds_wrapper{{#if card}}_{{card}}{{/if}}">
    		                    <a id="show_reg_holds{{#if card}}_{{card}}{{/if}}" class="reg_disclosure{{#if card}}_{{card}}{{/if}}" aria-controls="reg_holds" href="#" title="Expand to show holds information">Show {{ hold_count }} {{ pluralize hold_count "hold" "holds" }}</a>
                            </span>
                            <span id="hide_reg_holds_wrapper{{#if card}}_{{card}}{{/if}}" hidden aria-hidden="true">
    		                    <a id="hide_reg_holds{{#if card}}_{{card}}{{/if}}" class="reg_disclosure{{#if card}}_{{card}}{{/if}}" aria-controls="reg_holds" href="#" title="Collapse to hide holds information">Hide {{ hold_count }} {{ pluralize hold_count "hold" "holds" }}</a>
                            </span>
						</div>
		                <div id="reg_holds{{#if card}}_{{card}}{{/if}}" class="slide-hide reg_holds_disc" aria-hidden="true" style="text-align:left;">
		                    <h4 class="sr-only">Registration holds</h4>
		                    <div class="reg-holds">
		                        <ul class="reg-holds-list">
		                            {{ #each reg_holds }}
		                             <li>{{{ notice_content }}}</li>
		                            {{ /each }}
		                        </ul>
		                    </div>
		                </div>
		            </div>
				</li>    
	            {{ /if }}
                        
            <h4 class="sr-only">Registration Information</h4>    
			
            <!--Estimated Registration Date-->
	            {{ #unless registration_is_open }}
				<li>
		            <div class="est-reg-date">
		                <p class="est_reg_date_content" aria-labelledby="est_reg_date">
		                    {{ #each est_reg_date }}
			                    <span class="sr-only est_reg_date">Estimated Registration Date: {{{ toFriendlyDateVerbose date }}}</span>
		                        <div style="display:inline-block;">Estimated <br/>Registration Date</div> <div class="pull-right" style="font-weight: bold; display:inline-block"><span>{{{ toFriendlyDate date }}}</span><br/><span class="pull-right">at 6:00 AM</span></div><br />
		                    {{ /each }}
		                </p>
		            </div>
	            </li>
	            {{ /unless }}
            
				<li>
	            {{ #if plan_data.courses }}
		            <div id="reg_details">
			            <span>In MyPlan </span><span class="bold_text pull-right">&nbsp;{{ plan_data.ready_count }} {{ pluralize plan_data.ready_count "course" "courses" }} ready</span><br/>
			            <span class="pull-right">
			            {{ #if plan_data.unready_count }}
			                {{ plan_data.unready_count }} not ready
			                {{ #if plan_data.has_sections }}
                                <span id="show_unready_courses_wrapper{{# if card }}_{{card}}{{/if}}">
			                	    <span class="sr-only" id="show_unready_course_details_label{{# if card }}_{{card}}{{/if}}">See more details about unready courses</span>
			                	    <a href="javascript:void(0)" aria-labelledby="show_unready_course_details_label{{# if card }}_{{card}}{{/if}}" class="myplan_unready_courses_disclosure">See details</a>
                                </span>
                                <span id="hide_unready_courses_wrapper{{# if card }}_{{card}}{{/if}}" hidden aria-hidden="true">
			                	    <span id="hide_unready_course_details_label{{# if card }}_{{card}}{{/if}}" class="sr-only">Hide details for unready courses</span>
			                	    <a href="javascript:void(0)" aria-labelledby="hide_unready_course_details_label{{# if card }}_{{card}}{{/if}}" class="myplan_unready_courses_disclosure">Hide details</a>
                                </span>
			                {{ else }} <a href="http://myplan.uw.edu">Add Sections</a>
			                {{ /if}}
			            {{ /if }}
			            </span>
		            </div>
					
					<br/>
            
		            <div id="myplan_unready_courses{{# if card }}_{{card}}{{/if}}" class="slide-hide course_not_ready_details">
			            <br />
			            <h4 class="sr-only">Courses not ready for registration and possible issues causing the same</h4>
			            <span class="card-badge-label">Courses not ready</span><br/>
			            <ul id="courses_not_ready_list" style="list-style-type: none; padding-left: 0;">
			            {{ #each plan_data.courses }}
			                {{ #unless registrations_available }}
			                <li>{{ curriculum_abbr }} {{ course_number }}</li> <!--{{ #unless @last }}<br />{{/unless}}-->
			                {{ /unless }}
			            {{ /each}}
			            </ul>
			            <span class="card-badge-label">One or more of the issues below will prevent these courses from being sent to registration:</span>
			            <ul>
				            <li>Too many/too few sections selected for a course</li>
				            <li>Time conflict with registered course</li>
				            <li>Time conflict with a selected section</li>
				            <li>Planned courses are jointly offered versions of one course</li>
			            </ul>
		
			            <a class="pull-right" href="http://myplan.uw.edu">Edit plan to fix issues</a>
			            <br /><br />
		            </div>
            
					<br />
		            {{ #if registration_is_open }}
		                {{ #unless plan_data.ready_count }}
		                <a class="bold_text" href="http://myplan.uw.edu">Edit plan to fix issues</a><br />
		                Or enter SLNs on <a href="https://sdb.admin.washington.edu/students/uwnetid/register.asp">Registration screen</a>
		                {{ else }}
		                    <a class="bold_text" href="http://myplan.uw.edu">Start registration through MyPlan</a><br>
		                    or enter SLNs on <a href="https://sdb.admin.washington.edu/students/uwnetid/register.asp">Registration screen</a>
		                {{ /unless }}
		            {{ /if}}
		            {{ else }}
		            <div id="reg_details">
		                <span>In MyPlan </span><span class="pull-right">No courses in your plan</span><br/>
		                    <a class="pull-right" href="http://myplan.uw.edu">Add courses</a><br />
		                    {{ #if registration_is_open }}
		                        <br/><a class="pull-right bold_text" href="https://sdb.admin.washington.edu/students/uwnetid/register.asp">Registration</a>
		                    {{ /if }}
		            </div>
		            {{ /if }}
				</li>
			</ul>
		            <h4 class="sr-only">Registration Resources</h4>
		            {{ #unless registration_is_open }}
					<div class="pull-right">
			            <ul class="reg-resources-list">
			                {{ #if is_tacoma }}
			                    <li class="pull-right time_schedule_link"><span id="tacoma_time_schedule" class="sr-only">Browse time schedule for Tacoma</span><a class="bold_text" aria-labelledby="tacoma_time_schedule" href="http://www.washington.edu/students/timeschd/T/">Browse time schedule</a></li>
			                    <li class="pull-right"><a href="http://www.tacoma.washington.edu/enrollment_apps/timeschedule/search.cfm">Tacoma Time Schedule Quick Search</a></li>
			                {{ /if }}
			                {{ #if is_bothell }}
			                    <li><span id="bothell_time_schedule" class="sr-only">Browse time schedule for Bothell</span><a class="bold_text" aria-labelledby="bothell_time_schedule" href="http://www.uwb.edu/registration/time">Browse time schedule</a></li>
			                {{ /if }}
			                {{ #if is_seattle }}
			                    <li><span id="seattle_time_schedule" class="sr-only">Browse time schedule for Seattle</span><a class="bold_text" aria-labelledby="seattle_time_schedule" href="http://www.washington.edu/students/timeschd/">Browse time schedule</a></li>
			                {{ /if }}
			            </ul>
					</div>
		            {{ /unless }}
			
			<!-- CHARLON: not sure why a clearfix wasn't working on the DIV below, but the inline style was... -->                                                                                                
			<span id="reg_resources_desc" class="sr-only">{{reg_next_quarter}} {{ reg_next_year }} plan</span>
            <div id="reg_resources{{#if card}}_{{card}}{{/if}}" aria-labelledby="reg_resources_desc" aria-expanded="false" class="slide-hide reg_resources_disc" style="clear:both;" aria-hidden="true">
                <!-- data from MyPlan -->
                <div>
                    {{ #if plan_data.has_ready_courses }}
                    <div>
	                <br/>
	                <h4 class="quarter-heading">Your {{reg_next_quarter}} {{ reg_next_year }} plan</h4>
                    <span class="card-badge-label">Ready for registration</span>
                    <br/><br/>

                    {{ #each plan_data.courses }} <!--Course-->
                    {{ #if registrations_available }}
                        {{ curriculum_abbr }} {{ course_number }}
						<table class="reg_status_table table table-condensed borderless" style="border-width: 0;">
		                    <thead class="sr-only">
			                    <tr>
				                    <td>Section</td>
				                    <td>Day</td>
				                    <td>Time</td>
			                    </tr>
		                    </thead>
                        <tbody>
                        {{ #each sections }} <!--Section-->
                        <tr>
                        <td>{{ section_id }}</td>
                        {{#each section_data.meetings}}
                            {{#if days_tbd }}
                            Days and times to be arranged<br/>
                            {{else}}
                            <td>
                                {{#if meeting_days.monday}}<abbr title="Monday">M</abbr>{{/if}}{{#if
                                meeting_days.tuesday}}<abbr title="Tuesday">T</abbr>{{/if}}{{#if
                                meeting_days.wednesday}}<abbr title="Wednesday">W</abbr>{{/if}}{{#if
                                meeting_days.thursday}}<abbr title="Thursday">Th</abbr>{{/if}}{{#if
                                meeting_days.friday}}<abbr title="Friday">F</abbr>{{/if}}{{#if
                                meeting_days.saturday}}<abbr title="Saturday">Sa</abbr>{{/if}}{{#if
                                meeting_days.sunday}}<abbr title="Sunday">Su</abbr>{{/if}}
                            </td>
                            <td>{{formatTime start_time}} - {{formatTimeAMPM end_time}}</td>
                            </tr>
                            {{/if}}
	                     
                        {{/each}}
                        
                        {{ /each }} <!--Section end-->
                        </tbody>
	                    </table> 
                        {{/if}}
                    {{ /each }} <!--Course end-->
                    </div>
                    {{ /if }}

                    {{ #if plan_data.has_unready_courses }}
                    <div>
	                <br/>
	                <h4 class="quarter-heading">Your {{reg_next_quarter}} {{ reg_next_year }} plan</h4>
	                
                    <span class="card-badge-label">Not ready for registration</span>
                    <br />
                    {{ #each plan_data.courses }}
                        {{ #unless registrations_available }}
                        {{ curriculum_abbr }} {{ course_number }} <br />
                        {{ /unless }}
                    {{ /each}}
                    </div>
                    {{ /if }}
                </div>
				<br/>
                <h4 class="resources-heading">Resources</h4>
                {{ #if plan_data.courses }}
                <ul class="reg-resources-list">
                    <li><a href="http://myplan.uw.edu">Edit Plan in MyPlan</a> (Academic Planning)</li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                </ul>

                {{ else }}
                <ul class="reg-resources-list">
					<li><a href="https://sdb.admin.washington.edu/students/uwnetid/register.asp">Registration</a></li>
                    <li><a href="http://myplan.uw.edu">MyPlan</a> (Academic Planning)</li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                </ul>
                {{ /if }}

            </div>
            
            <div class="card-disclosure">
                {{ #if plan_data.courses }}
                <span id="show_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Show {{reg_next_quarter}} {{ reg_next_year }} plan</span>
                <span id="hide_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Hide {{reg_next_quarter}} {{ reg_next_year }} plan</span>
                <span id="show_hide_plan_reg_resources_label" class="sr-only">Expand to show additional registration resources</span>
                <a id="show_reg_resources{{# if card }}_{{card}}{{/if}}" aria-controls="reg_resources" aria-labelledby="show_hide_plan_reg_resources_label" href="#" title="Expand to show additional registration resources">Show {{reg_next_quarter}} {{ reg_next_year }} plan</a>
                {{ else }}
                <span id="show_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Show more</span>
                <span id="hide_reg_label{{# if card }}_{{card}}{{/if}}" style="display:none;">Show less</span>
                <span id="show_hide_reg_resources_label" class="sr-only">Expand to show additional registration resources</span>
                <a id="show_reg_resources{{# if card }}_{{card}}{{/if}}" aria-controls="reg_resources" aria-labelledby="show_hide_reg_resources_label" href="#" title="Expand to show additional registration resources">Show more</a>
                {{ /if }}
            </div>
        
        </div>
    </div>


    {% endtplhandlebars %}
